.hamburg-icon {
    display: none;
}
.product-page-navbar {
    z-index: 99;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 16px 50px;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 8px black;
    background-color: white;
}
.fa-arrow-left {
    font-size: 30px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}
.fa-arrow-left:hover {
    background-color: rgb(204, 204, 204);
}
#anandi-prod-page-logo {
    height: 100%;
    margin-left: 20px;
}
.product-page-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.product-page {
    width: 100%;
    max-width: 100vw;
    margin: 80px 0;
    padding: 0 50px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.product-page-image-container {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    align-content: flex-start;
    gap: 1%;
}
.product-page-image {
    margin-bottom: 1%;
    width: 49.5%;
    flex-grow: 1;
    height: fit-content;
    border-radius: 25px;
}

.product-page-details {
    width: 600px;
    margin-left: 80px;
}
.product-page-prod-brand {
    margin-left: -3px;
    font-weight: 600;
    font-size: 40px;
    color: rgb(51, 51, 51);
}
.product-page-prod-name {
    font-weight: 400;
    font-size: 25px;
    color: rgb(99, 99, 99);
}
.prod-page-hr {
    margin: 20px 0;
}
.product-page-prod-price {
    margin-bottom: -10px;
    font-weight: 600;
    font-size: 35px;
    color: rgb(85, 85, 85);
}
.product-variant-wrapper {
    margin: 20px 0;
    display: flex;
}
.product-page-prod-variant {
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.product-page-prod-variant:hover {
    background-color: rgb(219, 219, 219);
}
.prod-size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    min-width: 70px;
    width: fit-content;
    padding: 0 5px;
    font-size: 26px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    border: 3px solid grey;
    border-radius: 35px;
}
.prod-color-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prod-color {
    height: 50px;
    width: 100%;
    margin-top: 12px;
    border-radius: 120px;
    box-shadow: 0 0 10px black;
}
.product-like-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 14px 0;
    width: 100%;
    height: fit-content;
    font-size: 24px;
    border: 3px solid red;
    font-weight: 500;
    color: red;
    background-color: white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    gap: 30px;
}
.product-like-btn:hover {
    color: white;
    background-color: red;
    border-radius: 20px;
}
.product-like-btn:active {
    box-shadow: 0 0 30px black inset;
}


.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
  }
  
  .loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
  
    0%,
      100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }